html {
  width: 100%;
  height: 100%;
  body {
    --blue: rgb(2, 0, 26);
    width: 100%;
    height: 100%;
    background: green;
    padding: 0 !important;
    main {
      height: 100%;
      width: 100%;
      margin: 0;
      .hero {
        width: 100%;
        height: 100%;
        background: url(inCity.jpg);
        background-position: left center;
        animation-name: bgZoom;
        animation-duration: 2s;
        animation-timing-function: ease-out;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        position: relative;
        .hero-button {
          width: 40%;
          min-width: 300px;
          max-width: 450px;
          height: 40%;
          min-height: 200px;
          max-height: 350px;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%) skew(-10deg);
          z-index: 2;
          background: rgba(255, 255, 255, 0.5);
          border-radius: 20px;
          box-shadow: 0px 0px 20px var(--blue);
          backdrop-filter: blur(10px);
          opacity: 0;
          animation-name: gradFade;
          animation-duration: 2s;
          animation-timing-function: ease-out;
          animation-delay: 0.2s;
          animation-iteration-count: 1;
          animation-fill-mode: forwards;
          #go {
            user-select: none;
            cursor: pointer;
            width: 100px;
            height: 100px;
            border: 3px solid rgb(255, 106, 0);
            border-radius: 100%;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%) scale(1);
            display: flex;
            justify-content: center;
            align-items: center;
            background: orange;
            box-shadow: 0px 0px 10px var(--blue);
            text-shadow: 0px 0px 1px black;
            padding-right: 5px;
            color: var(--blue);
            font-size: 50px;
            font-family: "Solo3D", sans-serif;
            transition: 0.5s;
          }
          #go:hover {
            transform: translate(-50%, -50%) scale(1.1);
            box-shadow: 0px 0px 10px var(--blue), 0px 0px 10px var(--blue);
          }
          #go:active {
            transform: translate(-50%, -50%) scale(1.05);
            box-shadow: 0px 0px 10px var(--blue), 0px 0px 5px var(--blue);
            transition: 0.2s;
          }
        }
        .hero-button::after {
          content: "";
          position: absolute;
          top: -25%;
          left: 50%;
          width: 120%;
          height: 50px;
          transform: translate(-50%, 50%) skew(10deg);
          filter: contrast(150%);
          background: url(imgs/saberBlue.png);
          background-size: 100% 100%;
          background-repeat: no-repeat;
        }
        .hero-button::before {
          content: "";
          position: absolute;
          bottom: -25%;
          left: 50%;
          width: 120%;
          height: 50px;
          transform: translate(-50%, -50%) skew(10deg) scale(-1);
          filter: hue-rotate(150deg) saturate(120%) contrast(150%);
          background: url(imgs/saberBlue.png);
          background-size: 100% 100%;
          background-repeat: no-repeat;
        }
      }
      .hero::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        inset: 0;
        background: linear-gradient(
          to bottom,
          var(--blue),
          transparent,
          var(--blue)
        );
        animation-name: gradFade;
        animation-duration: 2s;
        animation-timing-function: ease-out;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        z-index: 1;
      }
      #gridRow {
        background-color: yellow;
        display: flex;
        justify-content: center;
        text-align: center;
        div[data-name^="c"] {
          background-color: blue;
          aspect-ratio: 6/5;
          padding: 5px;
          div {
            background: brown;
            height: 100%;
            width: 100%;
          }
        }
      }
    }
  }
}
@font-face {
  font-family: Solo3D;
  src: url(fonts/soloist3d.ttf);
}
@keyframes bgZoom {
  from {
    background-size: auto 110%;
  }
  to {
    background-size: auto 100%;
  }
}
@keyframes gradFade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
